/* #C6AB80 - coffee beige color */
body {
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
} 

/*SCROLLBAR OF PAGE*/
body::-webkit-scrollbar {
width: 9px;
}  
  
body::-webkit-scrollbar-thumb {
background-color: #333; 
}  
  
body::-webkit-scrollbar-track {
background-color: #f1;
}  
body::-webkit-scrollbar-thumb:hover{
background-color:#555;  
}  

/* MENU IMAGE*/
div.image-nav {
background: url('assets/menu_bg.jpg');
min-height: 55vh;
padding-top: 25px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

/* MENU BAR */
div.image-nav nav {
width: 100%;
background-color: #C6AB80;
overflow: auto;
white-space: nowrap;
}

/* MENU OPTIONS */
div.image-nav a {
display: inline-block;
font-family: "Raleway", sans-serif;
font-size: 20px;
text-align: center;
text-decoration: none;
color: white;
width: 20%;
padding: 10px;
cursor: pointer;
}

/* MENU HOVERING ON OPTIONS */
div.image-nav a:hover {
background-color: #fff;
color: #C6AB80;
}

/* which page is active atm */
nav:active {
background-color: #fff;
}

/* MENU LOGO-NAME */
div.image-nav header {
text-align: center;
font-size: 52px;
font-weight: 450;
color: #fff;
margin: 100px;
padding: 50px 0 50px 0;
border: #C6AB80 solid 2px;
background-color: rgba(0, 0, 0, 0.2);
}

/* SUBSCRIBE CONTAINER */
div.subscribe-container {
background-color: #C6AB80;
margin: 0%;
padding: 0% 0% 1% 0%;
}


/* SUBSCRIBE CONTAINER LOGO-NAME*/
div.subscribe-container header {
text-align: center;
text-decoration: none;
font-size: 37px;
color: #fff;
margin: 0%;
padding: 20px 0 20px 0;
}

/* SUBSCRIBE CONTAINER CARDS */
div.subscribe-card {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
grid-gap: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 5px;
padding: 2vh;
margin: 2vh;
background-color: #FCFBF4;
}




























